<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes template</title>
</head>
<body>
    <form method="post">
        <label>Title</label><br>
        <input type="text" name="title"><br>
        <label>Content</label> <br>
        <textarea name="content" rows="10" cols="50"></textarea><br>
        <button>submit</button>
        
    </form>
</body>
</html>